<%- include('upper'); %>
<meta name="description" content="<%= blog.description%>">
<title> <%= blog.blogtitle%> </title>

<%- include('header'); %>

<%-blog.markdown%>
    
<%- include('footer'); %>


